#progress {
  width: 500px;
  height: 50px;
  background: #e1e1e1;
  position: relative;
}

.progress-on {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;

  background: blue;
  animation: progress 3s linear;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
